*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.headertext h1 {
margin-bottom: 20px;

}
header{
    overflow: auto;
  background-color: white;
margin-inline: 20px ;
margin-block: 55px;

}
button{
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 25%;
    padding: 20px;
    text-align: center;
    margin-left: 20px;
    margin-top: 20px;
}
body{
    /* margin-left: 45px; */
}
header .headertext{
   
    vertical-align: middle;
    float: left;
    width: 55%;
    padding: 80px;
   
    font-size: 27px;
}
header img{
    width: 30%;
    border-radius: 5%;
    float:right;
    vertical-align: middle;
    margin-top: 25px;
    margin-right: 140px;
padding: 15px;
}
h2{
    text-align: center;
    font-size: 32px;
    padding: 20px;
}
#why p{
    text-align: center;
    color: dimgrey;
    font-size: 23px;
    margin-bottom: 50px;
}
 .card-blue{
    width: 50px;
    height: 50px;
    padding: 20px; 
  background:  white; 
  border-radius: 10%;
  text-align: center;
  border: 15px solid darkblue;
   margin: auto;
  margin-top: 30px;

}
.card-green{
    background-color: green;
    width: 50px;
    height: 50px;
    padding: 20px;
    background: white;
    border-radius: 50%;
    text-align: center;
    border: 15px solid darkgreen;
    margin: auto;
    }
 

 #why .cardsgreen{
        background-color: lightgreen;
    width:400px;
height: 350px;
margin: auto;
border-radius: 10%;
padding: 50px;
text-align: center;
margin-left: 55px;
} 


.cards-container{

   float: left;
    width: 100%;
    height: 400px;
    /* background-color :rgb(200, 69, 69); */
   display: flex;
   margin-bottom: 50px;
  
   
}
.clearfix{
    clear: both;
}
#why .cardsblue{
    background-color:lightblue;
    width:400px;
height: 350px;
margin: auto;
border-radius: 10%;
padding: 50px;
text-align: center;
}
#why .cardspurple{
    background-color:plum;
    width:400px;
height: 350px;
margin: auto;
border-radius: 10%;
padding: 50px;
text-align: center;
}
 .card-purple{
    width: 50px;
    height: 50px;
    padding: 20px; 
  background:  white; 
  border-radius: 10%;
  text-align: center;
  border: 15px solid rgb(54, 8, 43);
   margin: auto;
  margin-top: 30px;

}
#why .image img{
    width: 600px;
    vertical-align: middle;
    float: left;
}
.text{
    vertical-align: middle;
    float: left;
    font-size: 23px;
    padding: 20px;
    background-color:white;
    margin-left: 60px;
}
#why{
    
    overflow: auto;
    margin-block: 45px;
 margin-left: 55px;
}
#what{
    background-color: rgba(247, 247, 247, 0.879);
    margin-left: 0px;
    /* min-height: 100vh; */
    height: 1000px;
}
#what .blue{
     background-color:rgb(208, 231, 239);
    width:350px;
height: 300px;
margin-left: 70px;
border-radius: 10%;
padding: 30px;
margin-top: 50px;
margin-right: 80px;
}
.blue img{
    width: 25%;
    border-radius: 50%;
    margin-right: 30px;
    
     
}
.blue h3{
    /* vertical-align: middle; */
    float: right;
}
#what .green{
     background-color:rgb(208, 239, 219);
    width:350px;
height: 300px;
margin-left: 50px;
border-radius: 10%;
padding: 30px;
margin-top: 50px;
float: left;
   margin-right: 80px;
   
}

#what .purple{
     background-color:rgb(233, 208, 244);
    width:350px;
height: 300px;
margin-left: 50px;
border-radius: 10%;
padding: 30px;
margin-top: 50px;
}
.green img{
    width: 25%;
    border-radius: 50%;
    margin-right: 40px;
}
.purple img{
    width: 25%;
    border-radius: 50%;
     /* vertical-align: middle; */
}
.cardcont{
    float: left;
    width: 100%;
    height: 500px;
    /* background-color :rgb(200, 69, 69); */
   display: flex;
   margin-bottom: 50px;
}


.stactics{
   /* float: left;  */
    width: 1200px;
    height: 200px;
     background-color :rgb(231, 236, 241); 
   display: flex; 
   margin: auto;
   text-align: center;
   border-radius: 2%;
}
/* .stactics .rev{
    background-color: rgb(222, 74, 48);
} */
.rev{
    float: left;
    width: 33.3%;
    background-color: rgb(231, 236, 241);
    margin: auto;
    border-radius: 2%
}
h1{
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
}
.form form{
    width:60rem;
   min-height: 100lvh;
    background-color:oklch(98.5% .002 247.839); 
    margin: auto;
    padding: 40px;
    border-radius: 5%;
}
form .fname input{
    border-radius: 7%;
    padding: 15px;
    width: 400px;
    margin-top: 20px;
    background-color:oklch(98.5% .002 247.839);
    border: solid grey

}
form .lname input{
    border-radius: 7%;
    padding: 15px;
    width: 400px;
    margin-top: 20px;
    background-color:oklch(98.5% .002 247.839);
    border: solid grey

}
.form form .fname{
    float: left;
}  
.form form .lname{
    float: right;
}
form input{
   border-radius: 7%;
    padding: 15px;
    width: 880px;
    margin-top: 20px;
    background-color:oklch(98.5% .002 247.839);
    border: solid grey 
}
.membership option{
     border-radius: 7%;
    padding: 15px;
    width: 880px;
    margin-top: 20px;
    background-color:oklch(98.5% .002 247.839);
    border: solid grey 
}
.foot {
    width: 100%;
    min-height: 60lvh;
    background-color:  oklch(21% .034 264.665);
    color: aliceblue;
    margin-top: 55px;
}
.footer {
    /* background-color: blueviolet; */
    margin-top: 60px;
    overflow: auto;
    float:left;
    width: 33.3%;
}
.footer p{
    padding: 15px;
    font-size: 20px;
    color: oklch(70.7% .022 261.325);
}
.quicklinks {
    /* background-color: rgb(43, 226, 137); */
    margin-top: 60px;
    /* overflow: auto; */
    float:right;
    width: 33%;
}
.info{
    /* background-color: darkmagenta; */
    width: 33%;
    float: right;
     margin-top: 60px;
}
.info dl{
    color: oklch(70.7% .022 261.325);
}
#all{
    width: calc(100%/3);
    margin-bottom: 40px;
}
a{
    color: oklch(70.7% .022 261.325);
}
.end{
color: oklch(55.1% .027 264.364);

float: right;
}


